Arpeggio==1.9.2
attrs==19.3.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
dill==0.3.1.1
docutils==0.16
Flask==1.1.2
grpcio==1.28.1
hello-world @ file:///Users/MDRAHALI/Desktop/Learning_Roadmap/python-devops/dist/hello-world-0.0.1.tar.gz
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.2.0
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.3
parver==0.3.0
pkginfo==1.5.0.1
pluggy==0.13.1
prometheus-client==0.7.1
protobuf==3.11.3
pulumi==2.1.0
pulumi-aws==2.2.0
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
sdist==0.0.0
semver==2.9.1
six==1.14.0
tqdm==4.45.0
twine==3.1.1
urllib3==1.26.5
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
